.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container iframe {
  margin: auto;

}

.button {
    display: block;
    width: 115px;
    height: 30px;
    background: #42A5F5;
    padding: 10px;
	margin: 10px;
    text-align: center;
	text-decoration:none !important;
    border-radius: 5px;
    color: white;
	font-size:20px;
	font-family:Arial;
    line-height: 30px;
}

#continue {
	background-color: #0eaaa6;
	color: #fff;
	display: block;
	width: 115px;
	height: 60px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	text-decoration: none !important;
	border-radius: 5px;
	color: white;
	font-size: 17px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 30px;
}

#scenario {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 50%;
	background: #EEEEEE;
	border-radius: 5px;
	border-color: #000000;
	border-width: thin;
	font-size:17px;
	font-family:Courier New;
	padding: 10px;
}

.header {
	width: 100%;
	overflow: hidden;
	background: #0EAAA6;
	color: white;
	border-top: 20px solid #0D908D;
	text-align: center;
	padding: 10px;
}

.contentWrapper {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

.manual {
	justify-content: center;
}